@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 187 100% 42%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 187 100% 42%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {

  body {
    @apply bg-background text-foreground;
  }
}


/* Modern scrollbar styling for all scrollable elements */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a5b4c7; /* Color of the scrollbar thumb (grip) */
  width: 8px;
  border-radius: 8px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Space between thumb and scrollbar track */
  background-clip: padding-box; /* Creates padding inside the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f3465; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  margin-top: 2px;
  margin-bottom: 1px;
  background-color: transparent; /* Color of the scrollbar track */
  border-radius: 8px; /* Rounded corners for the track */
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

